---
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator + ' (qgp.app)'} />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- Primary Meta Tags -->
		<title>QGP</title>
		<meta name="title" content="QGP" />
		<meta name="description" content="QGP" />
	</head>
	<body>
		<main>
			<h1>Hello from Astro!</h1>
			<a href="/SPA">Go to the SPA!</a>
		</main>
	</body>
</html>
